.App {
  margin: 10vh auto;
  padding: 20px;
  background-color: beige;
  width: 60%;
  display: flex;
  align-items: center;
}

/* blog input */
.App .formGroup {
  max-width: 99%;
  padding: 10px;
}

.App .btn2 {
  display: inline-block;
  width: 48%;
  text-align: right;
}

a {
  text-decoration: none;
  color: rgb(253, 1, 106);
}

#term {
  display: inline-block;
  padding: 0;
  margin: 0;
  width: auto;
  color: rgb(253, 1, 106);
  background-color: rgb(253, 1, 106);
}
.term {
  font-size: 14px;
}

.App input {
  background-color: rgb(226, 218, 208);
  color: rgb(172, 159, 166);
  width: 95%;
  border: none;
  margin: auto;
  padding: 10px;
}

.App TextField {
  width: 95%;
  border: none;
  margin: 10px auto;
  padding: 10px;
  display: block;
}

.App .btn1 {
  background-color: rgb(253, 1, 106);
  display: inline-block;
  width: 48%;
  color: aliceblue;
}

.App p {
  background-color: rgb(85, 95, 95);
}

/* blog svg*/

@media screen and (max-width: 768px) {
  .App {
    flex-direction: column-reverse;
    padding: 10px;
    width: 90%;
    margin: auto;
  }
  .log {
    width: auto;
  }
  .image {
    padding: 40px 0 0 0;
  }
  .App .btn1 {
    width: 100%;
    margin: 30px auto;
  }
  .App .btn2 {
    width: 100%;
    margin: auto;
  }
}

@media screen and (max-width: 768px) {
  .image {
    width: 35%;
  }
}
